.li {
	color: var(--main-color);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0;
	padding-top: 10px;
	border-top: 1px solid currentColor;
}
.span {
	width: 60%;
}
.li > input {
	width: 60%;
}
.done {
	text-decoration: line-through;
}
.buttonContainer {
	min-width: 200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: auto;
}
